<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>718746712730-19sa41st1ulkfh7a7l0vft1frvg9drh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718746712730-19sa41st1ulkfh7a7l0vft1frvg9drh3</string>
	<key>API_KEY</key>
	<string>AIzaSyCOYPswSK2yJp-nzOBS_95OXNfB7kXwiDA</string>
	<key>GCM_SENDER_ID</key>
	<string>718746712730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>spoorthyv.Private-Concert</string>
	<key>PROJECT_ID</key>
	<string>private-concert</string>
	<key>STORAGE_BUCKET</key>
	<string>private-concert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718746712730:ios:efe0889be67373df</string>
	<key>DATABASE_URL</key>
	<string>https://private-concert.firebaseio.com</string>
</dict>
</plist>